@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: #293a5b;
  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-weight: 900;
}

.my-btn {
  border-width: 1px;
  border-radius: 6px;
  width: 100px;
  margin-inline: 20px;
  padding-block: 5px;
  box-shadow:  0 20px 25px -5px black;
  background-color: white;
}

.my-btn:hover {
  color: white;
  background-color: skyblue;
  cursor: pointer;
}

.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.card:hover {
  cursor: pointer;
}

.spinner {
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}